table {
  border-collapse: collapse;
  font-size: 14px;
}

th,td {
  padding: 10px;
  text-align: left;
}

th {
  border-bottom: 2px solid rgb(35, 50, 55);
}

table a {
  color: rgb(131, 163, 131);
}
