.top-nav {
  background-color: rgb(35, 50, 55);
  color: #D4D4D2;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
}

.top-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.top-nav ul li {
  display: inline-block;
  padding-right: 18px;
}

.top-nav .logo {
  background-size: 50px;
  height: auto;
  width: 75px;
}

.top-nav .admin a {
  color: red;
}
