@import "styles/home";
@import "styles/top-nav";
@import "styles/forms";
@import "styles/admin/contents";
@import "formtastic";

body {
  font-size: 10px;
  font-family: Arial,Helvetica,sans-serif;
  margin: 0;
}

.main-content {
  padding: 50px 0px 0px 200px;
}

a {
  color: #D4D4D2;
  font-size: 14px;
  text-decoration: none;
  text-transform: capitalize;
}

.logo {
  background-image: url("logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 125px;
  height: 75px;
  padding: 10px;
  text-align: center;
}
